@charset "utf-8";
/* Noto Sans KR, Gruppo */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  display: block;
  color: #222;
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0 auto;
}

body {
  font-size: 16px;
  color: #222;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* Reset CSS ë */
@media screen and (min-width:500px) and (max-width: 767px) {
  section > h2 >p{
    width: 768px;
    padding-right: 30px;
  }
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 768px;
    margin: 0 20px;
  }
  .bodywrap{
    margin:0 auto;
  }
  .bodywrap .login-img{
    display: none;
  }
 
  form{
    margin:0 200px;
  }

}